/* Draggable */

.draggable {
  cursor: move;

  &.dragging {
    border-radius: _size(border-radius);
		border: _size(border-width) solid;
		padding: 1.5rem;
  }
}

@mixin color-box($p: null) {
  .draggable {
    &.dragging {
      border-color: _palette($p, border);
    }
  }
}

@include color-box;